<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SocialNetworkDBEntities" connectionString="metadata=res://*/SocialNetworkDB.csdl|res://*/SocialNetworkDB.ssdl|res://*/SocialNetworkDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=C:\RUSWIZARDSSOCIALNETWORKDB.MDF;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>


</configuration>