<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    
    <add name="SocialNetworkDBEntities" connectionString="metadata=res://*/RusWizardsSocialNetworkDB.csdl|res://*/RusWizardsSocialNetworkDB.ssdl|res://*/RusWizardsSocialNetworkDB.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESSAttachDbFilename=|DataDirectory|\RusWizardsSocialNetworkDB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>